$dark: #0d0d2d;
$outside: #999;

.App {
    position: absolute;
    width: 100%;
    height: 100%;
    // background: #0d0d2d;
    background: #000;
}

.container {
    width: 400px;
    height: 400px;
    // margin: 0 auto;
    position: absolute;
    perspective: 180px;
    top: 40%;
    left: 60%;
    transform: translate(-50%,-50%);
}

.window {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 200px;
    transform: translate3d(250px, 110px, -190px) rotateY(110deg);
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $outside;
        z-index: 1;
    }
    
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: 
            linear-gradient(0deg, transparent 12px, $dark 12px, $dark 15px),
            linear-gradient(90deg, $dark 20px, transparent),
            linear-gradient(90deg, $dark 20px, transparent),
            linear-gradient(90deg, $dark 5px, transparent),
            linear-gradient(90deg, $dark 5px, transparent);
        background-size: 100% 15px, 20px 100%, 20px 100%, 5px 100%, 5px 100%;
        background-repeat: repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: 0 10px, 100px 0, 280px 0, 50px 0, 200px 0;
        z-index: 3;
    }
    
    .moon {
        position: absolute;
        width: 60px;
        height: 100px;
        top: 13px;
        left: 3px;
        background: #e6e6e6;
        z-index: 2;
        border-radius: 50%;
        box-shadow: inset 16px 5px 8px #e6e6e6;
        -webkit-transform: scale(0.6);
        transform: scale(0.3);
    }
}

.floor {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 200px;
    transform: translate3d(7px, 270px, -115px) rotateZ(-90deg) rotateY(100deg);
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $outside;
        z-index: 1;
    }
    
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: 
            linear-gradient(0deg, transparent 12px, $dark 12px, $dark 15px),
            linear-gradient(90deg, $dark 20px, transparent),
            linear-gradient(90deg, $dark 20px, transparent),
            linear-gradient(90deg, $dark 5px, transparent),
            linear-gradient(90deg, $dark 5px, transparent);
        background-size: 100% 15px, 20px 100%, 20px 100%, 5px 100%, 5px 100%;
        background-repeat: repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: 0 10px, 100px 0, 280px 0, 50px 0, 200px 0;
        z-index: 2;
    }
}

.door {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, -290px);
    width: 50px;
    height: 100px;
    border-radius: 100px 100px 0 0 ;
    background: linear-gradient(45deg, transparent 65%, $outside);
    box-shadow: inset -5px 5px 4px $outside;
}

// 充电

.g-number {
    position: absolute;
    width: 300px;
    top: 27%;
    text-align: center;
    font-size: 32px;
    z-index: 10;
    color: #fff;
}

.g-container {
    position: absolute;
    width: 300px;
    height: 400px;
    transform: scale(.5);
    bottom: -100px;
    right: -80px;
    // margin: auto;
}

.g-contrast {
    filter: contrast(15) hue-rotate(0);
    width: 300px;
    height: 400px;
    background-color: #000;
    overflow: hidden;
    animation: hueRotate 10s infinite linear;
}

.g-circle {
    position: relative;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    filter: blur(8px);
    
    &::after {
        content: "";
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0);
        width: 200px;
        height: 200px;
        background-color: #00ff6f;
        border-radius: 42% 38% 62% 49% / 45%;
        animation: rotate 10s infinite linear;
    }
    
    &::before {
        content: "";
        position: absolute;
        width: 176px;
        height: 176px;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #000;
        z-index: 10;
    }
}

.g-bubbles {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100px;
    height: 40px;
    transform: translate(-50%, 0);
    border-radius: 100px 100px 0 0;
    background-color: #00ff6f;
    filter: blur(5px);
}

li {
    position: absolute;
    border-radius: 50%;
    background: #00ff6f;
}

@for $i from 0 through 15 { 
    li:nth-child(#{$i}) {
        $width: 15 + random(15) + px;
        left: 15 + random(70) + px;
        top: 50%;
        transform: translate(-50%, -50%);
        width: $width;
        height: $width;
        animation: moveToTop #{random(6) + 3}s ease-in-out -#{random(5000)/1000}s infinite;
    }
}

@keyframes rotate {
    50% {
        border-radius: 45% / 42% 38% 58% 49%;
    }
    100% {
        transform: translate(-50%, -50%) rotate(720deg);
    }
}

@keyframes moveToTop {
    90% {
        opacity: 1;
    }
    100% {
        opacity: .1;
        transform: translate(-50%, -180px);
    }
}

@keyframes hueRotate {
    100% {
        filter: contrast(15) hue-rotate(360deg);
    }
}